pymongo
motor
langchain
langchain_community
langchain_openai
langchainhub
langchain_experimental
langchain_text_splitters
langgraph
pytz
pycryptodome
tabulate
pandas
scikit-learn
matplotlib
seaborn
aioredis
flashrank
pymupdf
PyPDF2
ipython
openpyxl
vllm
rank_bm25
accelerate
sentence-transformers
einops
langchain-huggingface
chromadb
bitsandbytes>=0.42.0
ipywidgets